.card {
  margin: 12px;
  width: 300px;
  border: 1px solid #c4daf2;
  border-radius: 4px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding: 16px;
  height: 128px;
}

.cardTitle {
  margin: 0;
  margin-bottom: 6px;
  font-weight: 600;
}

.card:hover .cardContent {
  transform: translateX(1.5);
}

.rightFloatTxt {
  text-align: right;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 14px;
}