.appTitle {
  text-align: center;
  color: #247dcc;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 500;
}

.newsListContainer {
  display: flex;
  flex-wrap: wrap;
}

.rightFloatTxt {
  text-align: right;
}

.link {
  color: #2073bd;
  text-decoration: none;
}